<div id="dvLeftBarMenuWrapper" style="position:fixed; left:0px;top:56px;bottom:0px;width:300px;background:#ccc; overflow:auto">

    <ul id="ulMenu" style="position:absolute; top:0px;width:100%;background:#ccc; display:block">
    </ul>

</div>